@using Kore.Plugins.Messaging.Forums.Models

@model MailBoxModel

<h2 class="messages-heading">Messages</h2>

<div class="formtabs">
    <input name="formtab" type="radio" id="formtab1" checked="checked" class="formtabinput" />
    <label for="formtab1" class="formtablabel">Inbox</label>
    <div class="formpanel">
        <div id="inbox" class="tab-pane fade in active">
            <div class="row forums-table-section forum-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-primary mailbox-panel">
                        <div class="panel-heading">
                            @if (Model.AllPrivateMessages.Count == 1)
                            {
                                <h5>@Model.AllPrivateMessages.Count message</h5>
                            }
                            else if (Model.AllPrivateMessages.Count > 0)
                            {
                                <h5>@Model.AllPrivateMessages.Count messages</h5>
                            }
                            else
                            {
                                <h5>You currently have no messages</h5>
                            }
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered messages-table">
                                @*<colgroup>
                                        <col width="1" />
                                        <col />
                                        <col width="1" />
                                        <col width="1" />
                                        <col width="1" />
                                    </colgroup>*@
                                <thead>
                                    <tr>
                                        <th>
                                            Read
                                        </th>
                                        <th>
                                            Avatar
                                        </th>
                                        <th>
                                            From / Subject
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Delete Message
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pm in Model.AllPrivateMessages)
                                    {
                                        <tr>
                                            <td>
                                                @if (!pm.IsRead)
                                                {
                                                    <a href='@Url.Action("PMView", "PrivateMessages", new { id = pm.Id })'>
                                                        <img src="/Plugins/Messaging.Forums/Content/images/MailUnread.png" />
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href='@Url.Action("PMView", "PrivateMessages", new { id = pm.Id })'>
                                                        <img src="/Plugins/Messaging.Forums/Content/images/MailRead.png" />
                                                    </a>
                                                }
                                            </td>
                                            <td class="avatar">
                                                @Html.Raw(pm.FromUserAvatarUrl)
                                            </td>
                                            <td>
                                                <div>
                                                    @pm.FromUser
                                                </div>
                                                <div>
                                                    <b>@pm.Subject</b>
                                                </div>
                                            </td>
                                            <td>@pm.CreatedOnUtc</td>
                                            <td>
                                                <a href="@Url.Action("PMDelete", "PrivateMessages", new { id = pm.Id })" onclick="return confirm('@T(KoreWebLocalizableStrings.General.AreYouSure)');">
                                                    <img src="/Plugins/Messaging.Forums/Content/images/Trash.png" />
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input name="formtab" type="radio" id="formtab2" class="formtabinput" />
    <label for="formtab2" class="formtablabel">Sent</label>
    <div class="formpanel">
        <div id="sent" class="tab-pane">
            <div class="row forums-table-section forum-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-primary mailbox-panel">
                        <div class="panel-heading">
                            @if (Model.SentMessages.Count == 1)
                            {
                                <h5>@Model.SentMessages.Count message</h5>
                            }
                            else if (Model.SentMessages.Count > 0)
                            {
                                <h5>@Model.SentMessages.Count messages</h5>
                            }
                            else
                            {
                                <h5>No sent messages to display</h5>
                            }
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered messages-table">
                                @*<colgroup>
                                        <col width="1" />
                                        <col />
                                        <col width="1" />
                                        <col width="1" />
                                        <col width="1" />
                                    </colgroup>*@
                                <thead>
                                    <tr>
                                        <th>
                                            Read
                                        </th>
                                        <th>
                                            Avatar
                                        </th>
                                        <th>
                                            To / Subject
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Delete Message
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var spm in Model.SentMessages)
                                    {
                                        if (!spm.IsDeletedByAuthor)
                                        {
                                            <tr>
                                                <td>
                                                    @if (!spm.IsRead)
                                                    {
                                                        <a href='@Url.Action("SentPMView", "PrivateMessages", new { id = spm.Id })'>
                                                            <img src="/Plugins/Messaging.Forums/Content/images/MailUnread.png" />
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href='@Url.Action("SentPMView", "PrivateMessages", new { id = spm.Id })'>
                                                            <img src="/Plugins/Messaging.Forums/Content/images/MailRead.png" />
                                                        </a>
                                                    }
                                                </td>
                                                <td class="avatar">
                                                    @Html.Raw(spm.ToUserAvatarUrl)
                                                </td>
                                                <td>
                                                    <div>
                                                        @spm.ToUser
                                                    </div>
                                                    <div>
                                                        <b>@spm.Subject</b>
                                                    </div>
                                                </td>
                                                <td>@spm.CreatedOnUtc</td>
                                                <td style="text-align: center;">
                                                    <a href="@Url.Action("SentPMDelete", "PrivateMessages", new { id = spm.Id })" onclick="return confirm('@T(KoreWebLocalizableStrings.General.AreYouSure)')" ;>
                                                        <img src="/Plugins/Messaging.Forums/Content/images/Trash.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>