@using Kore.Plugins.Messaging.Forums.Models

@model PrivateMessageModel

<div class="row forums-table-section forum-group">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-primary forum-group-panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Message
                </h3>
                <h5>
                    <label class="label label-default">To:</label>
                    <strong class="forum-subject">@Model.ToUser</strong>
                </h5>
                <h5>
                    <label class="label label-default">Subject:</label>
                    <strong class="forum-subject">@Model.Subject</strong>
                </h5>
                <h5>
                    <label class="label label-default">Date:</label>
                    <strong class="forum-subject">@Model.CreatedOnUtc</strong>
                </h5>
            </div>
            <div class="panel-body">
                @Model.Text
            </div>
        </div>
    </div>
</div>
<div>
    <a href="@Url.Action("PMDelete", "PrivateMessages", new { id = Model.Id })" onclick="return confirm('@T(KoreWebLocalizableStrings.General.AreYouSure)');" class="btn btn-primary">
        <i class="fa"></i>
        Delete Message
    </a>
</div>
